<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumer index</title>
</head>

<body style="background-color:gainsboro">

    <div align='center'>
        <h1 style="font-family: Arial, sans-serif; color: #333;"> Welcome to the consumer side! </h1>
        <img src="{{ url_for('static', filename='img/apachekafka.svg') }}" alt="kafka-logo" height="10%" width="10%">
        <p style="font-family: Arial, sans-serif; color: #555;">Get messages from Kafka Topics :</p>
        <table border="1" style="font-family: Arial, sans-serif; border-collapse: collapse; width: 50%; margin: auto;">
            <tr style="background-color: #f2f2f2;">
                <th style="padding: 8px; text-align: left;">Topic</th>
                <th style="padding: 8px; text-align: left;">Streaming</th>
                <th style="padding: 8px; text-align: left;">Batch</th>
            </tr>
            <tr>
                <td style="padding: 8px;">somedata</td>
                <td style="padding: 8px;">
                    <form action="/streaming/somedata">
                        <button type="submit"
                            style="background-color: #007bff; color: white; border: none; padding: 6px 12px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; border-radius: 4px; cursor: pointer;">Start
                            Streaming</button>
                    </form>
                </td>
                <td style="padding: 8px;">
                    <form action="/batch/somedata">
                        <button type="submit"
                            style="background-color: #ffd900; color: white; border: none; padding: 6px 12px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; border-radius: 4px; cursor: pointer;">Start
                            Batch</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td style="padding: 8px;">footdata</td>
                <td style="padding: 8px;">
                    <form action="/streaming/footdata">
                        <button type="submit"
                            style="background-color: #007bff; color: white; border: none; padding: 6px 12px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; border-radius: 4px; cursor: pointer;">Start
                            Streaming</button>
                    </form>
                </td>
                <td style="padding: 8px;">
                    <form action="/batch/footdata">
                        <button type="submit"
                            style="background-color: #ffd900; color: white; border: none; padding: 6px 12px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; border-radius: 4px; cursor: pointer;">Start
                            Batch</button>
                    </form>
                </td>
            </tr>
        </table>

        <p style="font-family: Arial, sans-serif; color: #555;">Send data to mongoDB</p>
        <img src="{{ url_for('static', filename='img/mongodb.svg') }}" alt="mongo-logo" height="10%" width="10%">

    </div>

</body>

</html>